.lists {
    width: 80%;
}

.col {
    width: 28%;
    float: left;
    margin: 2% 11%;
}

.searchbar {
    width: 100%;
}

ul {
    overflow: hidden;
    overflow-y: scroll;
    height: 320px;
    border: solid 1px gray;
}

li {
    cursor: pointer;
}

.box {
    width: 80%;
    margin: 1% 9%;
    border: solid 1px gray;
    clear: both;
}

.box div {
    margin: 1.5%;
}

.activeUser {
    background-color: skyblue;
    font-weight: bold;
}

.result {
    margin: 0 !important;
}