<h4>User connections</h4>
<div class="lists">
    <div class="col">
        <input type="text" class= "searchbar" #searchTermA (input) = "filterList(searchTermA.value,'A')">
        <ul class="list-group">
            <li class="list-group-item" [ngClass]="{'activeUser': user.name == selectedFirstUser?.name}" 
                *ngFor="let user of filteredListA">
                    <div  (click)="selectUser(user, 'A')">{{user.name}}</div>
            </li>
        </ul>
    </div>
    <div class="col">
        <input type="text" class= "searchbar" #searchTermB (input) = "filterList(searchTermB.value,'B')">
        <ul class="list-group">
            <li class="list-group-item" [ngClass]="{'activeUser': user.name == selectedSecondUser?.name}" 
                *ngFor="let user of filteredListB">
                    <div (click)="selectUser(user, 'B')" >{{user.name}}</div>
            </li>
        </ul>
    </div>
</div>
<div class="box">
    <div *ngIf="isConnectionsLoaded">
        <p>Result: {{connectionResponse?.result}}</p>
        <div class="result" *ngIf="connectionResponse.degree>0">
            <p>The degree of connection between {{selectedFirstUser?.name}} and {{selectedSecondUser?.name}} is {{connectionResponse?.degree}} </p>
            <span>And the shortest connection is:<p>{{connectionResponse?.path}}</p></span>
        </div>
    </div>
    <div *ngIf="!isConnectionsLoaded">
        <p>Please select users to find connection</p>
    </div>
</div>